{% extends 'base.html' %}

{% block title %}Create Tournament{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename="create.css")}} />
    <script type="text/javascript" src={{url_for('static',filename="create.js")}}></script>
{% endblock head %}


{% block content %} 
  <div id="inviteForm" title="Invite Participants to Tournament">
	Type Usernames:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type Emails:
      <form>
        <div id="inviteError">Nobody to invite</div>
		
        <div id="inviteUsers">
          <textarea id="users" name="users"></textarea>
        </div>
        <div id="inviteEmail">
          <textarea id="emails" name="emails"></textarea>
        </div>
      </form>
    </div>

	<div id="contentBox">
    <div id="create">
      <div id="left" class="panel">
        <div class="title">Tournament Info</div>
          <label for="name">Tournament Name*:</label>
          <br />
          <input id="name" name="name" />
          <br /><br />
          <label for="tournamentScope">Make Tournament*:</label>
            <input type="radio" name="scope" value="public" checked="true">Public</input>
            <input type="radio" name="scope" value="private">Private</input>
          <div id="passwordDiv">Password:<input id="password" name="password" /></div>
          <br />
          <label for="description">Tournament Description:</label>
          <br />
          <textarea id="description" name="description"></textarea>
          <br />
          <label for='type'>Tournament Type*:</label>
          <br />
          <select id='type' name="type">
            <option value="none">Select a Type</option>
            <option value="singleElim">Single Elimination</option>
            <option value="doubleElim">Double Elimination</option>
            <option value="roundRobin">Round Robin</option>
          </select>
          <br />
		  <br />
          <div>Preview:</div>
          <div id="preview"></div>
          <br />
          <div id="createStatus">Tournament Created</div>
          <br />
          <button id="inviteBtn">Invite Members</button>
          <button id="createBtn">Create</button> 

      </div>
	  <div id="contentDivider"></div>
      <div id="right" class="panel">
        <div class='title'>Tournament Members</div>
        <div class="members">
          <table id="members">

          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
