{% extends 'base.html' %}

{% block title %}Join Tournament{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename="create.css")}} />
    <script type="text/javascript" src={{url_for('static',filename="join.js")}}></script>
{% endblock head %}


{% block content %} 
	<div id="contentBox">
    <div id="create">
      <div id="left" class="panel">
        <div class="title">Tournament Info</div>
          <label for="name">Tournament Name:</label>
          <br />
          <div id="name">Office Ping Pong</div>
          <br />
          <label for="tournamentScope">Tournament is:</label>
          <br />
          <div id="scope">Public</div>
          <br />
          <label for="description">Tournament Description:</label>
          <br />
          <div id="description" name="description">Come play in our little office ping pong tournament.  It'll be tons of fun.  Let's see who is the best.</div>
          <br />
          <label for='type'>Tournament Type:</label>
          <br />
          <div id="type">Round Robin</div>
          <br />
		  <br />
          <div>Preview:</div>
          <div id="preview" class="grid"></div>
          <br />
          <div id="createStatus">Tournament Created</div>
          <button id="joinBtn">Join Tournament</button> 

      </div>
	  <div id="contentDivider"></div>
      <div id="right" class="panel">
        <div class='title'>Tournament Members</div>
        <div class="members">
          <table id="members">
            <tr>
              <td>Moe</td>
              <td>(Manager)</td>
            </tr>
            <tr>
              <td>Curly</td>
            </tr>
            <tr>
              <td>Adam</td>
            </tr>
            <tr>
              <td>Billy</td>
            </tr>
            <tr>
              <td>Carl</td>
            </tr>
            <tr>
              <td>Dave</td>
            </tr>
            <tr>
              <td>Eric</td>
              <td>(Invited)</td>
            </tr>
            <tr>
              <td>Fred@bedrock.com</td>
              <td>(Invited)</td>
            </tr>
            <tr>
              <td>George@spacelysprockets.com</td>
              <td>(Invited)</td>
            </tr>
            <tr>
              <td>Harry@hogwarts.edu</td>
              <td>(Invited)</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
