{% extends 'base.html' %}

{% block title %}Soccer{% endblock %}
{% block head %}
  {{ super() }}
    <title>BrackeTracker - Home</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename="tournament.css")}} />
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename="doubleElim.css")}} />
    <script type="text/javascript" src={{url_for('static',filename="tournament.js")}}></script>
{% endblock %}

{% block content %}
<div id="contentBox">
    <div id="tournament">
      <div id="expandBar"><div class="icon"></div></div>
      <div id="adminbar">
        <div id="bar" class="expanded">
          <div id="icon" class="expanded"></div>
        </div>
        <div class="title">Soccer Tournament</div>
        <div id="description">Description: Your local soccer tournament.  No further description needed</div>
        <div id="memberList">
          Players:
          <br />
          <div id="adminList">
            <div class="player"><input type="checkbox" name="player" value="Larry" />Larry</div>
          </div>
          <div id="playerList">
            <div class="player"><input type="checkbox" name="player" value="Larry" />Moe</div>
            <div class="player"><input type="checkbox" name="player" value="Curly" />Curly</div>
            <div class="player"><input type="checkbox" name="player" value="Adam" />Adam</div>
            <div class="player"><input type="checkbox" name="player" value="Billy" />Billy</div>
            <div class="player"><input type="checkbox" name="player" value="Larry" />Carl</div>
            <div class="player"><input type="checkbox" name="player" value="Dave" />Dave</div>
            <div class="player"><input type="checkbox" name="player" value="Eric" />Eric</div>
            <div class="player"><input type="checkbox" name="player" value="Fred" />Fred</div>
          </div>
          <div id="bootedList">
            <div class="player"><input type="checkbox" name="player" value="George" />George</div>
          </div>
        </div>
        <div id="buttons">
          <button id="makeAdminBtn" type="button">Make Admin</button>
          <button id="bootBtn" type="button">Boot Player</button>
        </div>

      </div>
      <div id="bracket">
      </div>
    </div>
  </div>
{% endblock %}
