{% extends 'base.html' %}

{% block title %}{{ tournament.name }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename="tournament.css")}} />
  <script type="text/javascript" src={{url_for('static',filename="tournament.js")}}></script>
{% endblock %}

{% block content %}
	<div id="contentBox">
    <div id="tournament">
      <div id="expandBar"><div class="icon"></div></div>
      <div id="adminbar">
          <div id="bar" class="expanded">
            <div id="icon" class="expanded"></div>
          </div>
          <div class="title">{{ tournament.name }} Tournament</div>
		  <br>
      <div id="description">Description: {{ tournament.description}}</div>
          <br>
		  <div id="memberList">
            Players:
            <br />
            <div id="adminList">
              {% for a in tournament.admins %}
              <div class="player">{{a}}</div>
              {% endfor %}
            </div>
            <div id="playerList">
              {% for p in tournament.players %}
              <div class="player">{{p}}</div>
              {% endfor %}
            </div>
            <div id="bootedList">
              {% for b in tournament.booted %}
              <div class="player">{{b}}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div id='bracket'></div>
    </div>
  </div>
  {% endblock %}
